<!DOCTYPE html>
  <html>
    <head>
      <title>CSS float</title>
      <style type="text/css" rel="stylesheet"></style>
    </head>
    <body>
      <p><img src="https://i.imgur.com/e9z5UnC.jpg" width="400px" height="400px" class="img_left">柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢柴犬看起來很蠢</p>
      <p><img src="https://i.imgur.com/e9z5UnC.jpg" width="400px" height="400px" class="img_right">柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨柴犬看起來很笨</p>
    </body>
  </html>