<!DOCTYPE html>
  <html>
    <head>
      <title>CSS overflow</title>
      <style type="text/css" rel="stylesheet" href="overflow.css"></style>
    </head>
    <body>
      <p id="sample1">指定overflow: scroll。overflow是當內容超出框限範圍時，可設定超出部分要如何表示的一種性質。</p>
      <p id="sample2">指定overflow: auto。overflow是當內容超出框限範圍時，可設定超出部分要如何表示的一種性質。</p>
      <p id="sample3">指定overflow: hidden。overflow是當內容超出框限範圍時，可設定超出部分要如何表示的一種性質。</p>
      <p id="sample4">指定overflow: visible。overflow是當內容超出框限範圍時，可設定超出部分要如何表示的一種性質。</p>
    </body>
  </html>