h1 {
  font-family: Impact, sans-serif
}
p {
  font-size: x-large;
}
.min {
  font-family: "細明體",新細明體, serif
}
.gth {
  font-family: "楷書",標楷體,sans-serif
}
.com {
  font-family: "Comic Sans MS",sans-serif
}